/* .tagify__dropdown.extra-properties .tagify__dropdown__item > img{
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    transform: scale(.75);
    margin-right: 5px;
    border-radius: 2px;
    transition: .12s ease-out;
}

.tagify__dropdown.extra-properties .tagify__dropdown__item--active > img,
.tagify__dropdown.extra-properties .tagify__dropdown__item:hover > img{
    transform: none;
    margin-right: 12px;
}

.tagify.countries .tagify__input{ min-width:175px; }

.tagify.countries tag{ white-space:nowrap; }
.tagify.countries tag img{
    display: inline-block;
    height: 16px;
    margin-right: 3px;
    border-radius: 2px;
} */

/* Hides the placeholder text if at least one tag is present */
.tagify__tag + .tagify__input::before{
    display:none !important;
  }

/* Fixes styling issues between the Tagify input and the Bootstrap input style */
.tagifyBootstrap {
    line-height: 1 !important;
    padding: 0 !important;
}

.slider {
    margin-left: 1em;
};

#freq .slider-selection {
    background: #ffc107;
}

#freq.slider-handle {
    background: #ffc107;
}

.slider-tick.in-selection {
    background: #ffc107;
}

.slider-handle.round {
    background: #ffc107;
}

.Profile {
    text-align: left;
}

body {
    color: red;
}